{{#if category}}
<h1>Update Category</h1>

<form name="updateCategory">
	<input type="text" value="{{category.id}}" required name="id"/><br />
	<input type="text" value="{{category.cat_name}}" required name="cat_name"/><br />
	<input type="text" value="{{category.description}}" required name="description" /><br />
	<input type="submit" name="submitCategory" onclick ="location.href='/admin'" value="Update Category" />
	<input type="submit" name="deleteCategory" onclick ="location.href='/admin'" value="Delete Category" />
</form>
{{else}}
{{/if}}

{{#if product}}
<h1>Update Product</h1>
<form name="updateProduct">
	<input type="text" value="{{product.id}}" required name="id"/><br />
	<input type="text" value="{{product.title}}"required name="title"/><br />
	<input type="text" value="{{product.price}}" required name="price" /><br />
	<input type="text" value="{{product.category}}" required name="category" /><br />
	<input type="text" value="{{product.description}}" required name="description" /><br />
	<input type="text" value="{{product.quantity}}" required name="quantity" /><br />
	<input type="text" value="{{product.img}}" name="img" /><br />
	<input type="submit" name="submitProduct" onclick ="location.href='/admin'" value="Update Product" />
	<input type="submit" name="deleteProduct" onclick ="location.href='/admin'" value="Delete Product" />
</form>
{{else}}
{{/if}}
<a href="admin">Back to Admin</a>
<script src="js/updateCategory.js"></script>
